* {
    box-sizing: border-box;
}

.Orange {
    background-color: tomato;
    height: 200px;
    width: 200px;
}

.Red {
    background-color: red;
    height: 200px;
    width: 200px;
}

.Blue {
    background-color: blue;
    height: 200px;
    width: 200px;
}

.Black {
    background-color: black;
    height: 20px;
    width: 20px;
}

.Green {
    background-color: darkgreen;
    height: 20px;
    width: 20px;
}

.container {
    display: grid;
    grid-template-columns: 20px 10px;
    grid-template-rows: 20px 10px;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    width: 100vw;
    height: 20vh;
}